td {
  padding: 10px;
    height: auto;
    text-align: center;
    vertical-align: bottom;
  }
  thead {
      background-color: #f2f2f2;
      height: 60px;
    }
  table{
      table-layout: fixed;
      border-collapse: collapse;
    margin-left:auto;margin-right:auto;
  }
.form{
    padding: 20px;
  display:flex;
  align-items: center;
  justify-content:center;
}  
table, thead, td {
    border-collapse: collapse;
    border: 1px solid black;
}
  label, input {
    display: block;
}
label{
    font-weight: bold;
    margin-right: 5px;
}
input {
    margin-right: 20px;
}
.body{
    background-color: azure;
}